* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul, ol {
	list-style: none;
}

button {
	cursor: pointer;
}

/* Default properties of Frontend Mentor */
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
/* Default properties of Frontend Mentor */