:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--dark-blue: hsl(249, 10%, 26%);
	--grayish-blue: hsl(246, 25%, 77%);
}

body {
	font-family: "Poppins", sans-serif;
}

.big-font {	font-size: 3.1vw; }
.normal-font { font-size: 1.15vw; }
.small-font { font-size: 0.65vw; }

.wrapper {
	min-height: 98vh;
	color: white;
	background:
		url("./images/bg-intro-desktop.png"),
		var(--red);
	padding: 5% 10%;
	display: flex;
	align-items: center;
}

/* About side */
.about-side {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	line-height: 1.1;
	margin-bottom: 5%;
}
/* About side */



/* Form side */
.form-side {
	flex: 1;
}

.shadow {
	box-shadow: 0 10px 1px rgba(0, 0, 0, 0.2);
}

header {
	background-color: var(--blue);
	border-radius: 10px;
	text-align: center;
	padding: 2% 0;
	margin-bottom: 4%;
	font-weight: 300;
}

header strong {
	font-weight: 7	00;
}

.form-side form {
	padding: 5%;
	border-radius: 10px;
	background-color: white;
}

input {
	width: 100%;
	margin-bottom: 3%;
	padding: 3% 5%;
	border-radius: 5px;
	border: 1px solid var(--grayish-blue);
}

input:focus {
	border-color: var(--dark-blue);
}

button {
	width: 100%;
	padding: 2% 0;
	margin-bottom: 3%;
	border: none;
	border-bottom: 4px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	color: white;
	background-color: var(--green);
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
}

button:hover {
	opacity: 0.7;
}

.terms {
	color: var(--grayish-blue);
	text-align: center;
}

.terms strong {
	color: var(--red);
}

.terms a:hover {
	color: var(--red);
}
/* Form side */



@media (max-width: 1250px) {
	.big-font {	font-size: 40px; }
	.normal-font { font-size: 14px; }
	.small-font { font-size: 8px; }

	.about-side {
		padding-right: 10%;
	}
}

@media (max-width: 850px) {
	.wrapper {
		flex-direction: column;
	}

	.about-side {
		text-align: center;
		padding-right: 0;
	}
}

@media (max-width: 500px) {
	.big-font {	font-size: 30px; }

	header {
		padding: 15px 23%;
		margin-bottom: 25px;
	}

	button {
		border-bottom-width: 3px;
		border-radius: 5px;
	}

	.terms {
		padding: 0 19%;
	}
}